{% extends "included/layout.html" %}
{% load static %}
{% block body %}
<section  id="form-wizard">
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ wizard.management_form }}
    
        {% if wizard.form.forms %}
            {{ wizard.form.management_form }}
            {% for form in wizard.form.forms %}
                {{ form.as_p }}
            {% endfor %}
        {% else %}
            {{ wizard.form.as_p }}
        {% endif %}
    
        <div>
            {% if wizard.steps.prev %}
                <button name="wizard_goto_step" type="submit" value="{{ wizard.steps.prev }}">Geri</button>
            {% endif %}
            <button type="submit">İleri</button>    
        </div>
    </form>
</section>
{% endblock body %}