{% extends "included/layout.html" %}
{% load static %}
    {% block body %}
        <!--ANASAYFA-->
        <section id="home">
            <div class="flex center">
                <div class="child_home">
                    <h1>LOJISTIKTE <span style="color:rgb(141, 141, 141);">1 NUMARA</span></h1>
                    <br>
                    <p>Lorem, ipsus Eius ex voluptatum odit! Voluptas, a? Quae.</p>
                </div>
            </div>
        
            <!--SEARCHBARLAR-->
            <!--SEARCHBARLAR-->
            <form method="post">
                {% csrf_token %}
                <div id="route-search" class="flex">
                    <div id="route-left" class="flex">
                        <div class="flex route-input">
                            <p>Receiving</p>
                            <input class="autocomplete" name="receiving" type="text" placeholder="Receiving" required>
                            <i class="fa-solid fa-location-crosshairs"></i>
                        </div>
                        <div class="flex route-input">
                            <p>Destination</p>
                            <input class="autocomplete" name="destination" type="text" placeholder="Destination" required>
                            <i class="fa-solid fa-location-dot"></i>
                        </div>
                    </div>
                    <button id="route-btn" type="submit" >Search</button>
                </div>
            </form>

            <div class="flex" id="home-card">
                <div class="flex-vertical card">
                    <i class="fa-regular fa-building"></i>
                    <h3>Festival Tours</h3>
                    <p>150 listings</p>
                </div>
                <div class="flex-vertical card">
                    <i class="fa-solid fa-city"></i>
                    <h3>Multiple Stopovers</h3>
                    <p>214 listings</p>
                </div>
                <div class="flex-vertical card">
                    <i class="fa-solid fa-city"></i>
                    <h3>Building Materials</h3>
                    <p>185 listings</p>
                </div>
                <div class="flex-vertical card">
                    <i class="fa-solid fa-pills"></i>
                    <h3>Pharmaceutical</h3>
                    <p>200 listings</p>
                </div>
                <div class="flex-vertical card">
                    <i class="fa-solid fa-car-side"></i>
                    <h3>Small Transports</h3>
                    <p>120 listings</p>
                </div>
            </div>
            <span style="background-color:rgba(0, 0, 0, 0.9);width: 100%;height: 100%;position: absolute;top:0;z-index: 1;"></span>
        </section>
        <section id="how-works">
            <div class="title">
                <h2>HOW IT WORKS</h2>
                <p>Learn More about how our website works</p>
            </div>
            <div class="flex center" id="how-works-card">
                <div class="flex-vertical card">
                    <div>
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <h3>Festival Tours</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi modi ducimus voluptas culpa provident enim</p>
                    <button>Read More</button>
                </div>
                <div class="flex-vertical card">
                    <div>
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <h3>Festival Tours</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi modi ducimus voluptas culpa provident enim</p>
                    <button>Read More</button>
                </div>
                <div class="flex-vertical card">
                    <div>
                        <i class="fa-solid fa-shield-halved"></i>
                    </div>
                    <h3>Festival Tours</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi modi ducimus voluptas culpa provident enim</p>
                    <button>Read More</button>
                </div>
            </div>
        </section>
        <section id="about-us">
            <div class="title">
                <h2>ABOUT US</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="flex center">
                <div class="flex-vertical card">
                    <img src="{% get_media_prefix %}images/blog/cargo.png" alt="">
                    <div>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, placeat cum dicta veritatis tempora eveniet saepe ullam soluta totam consequuntur dolores porro dolorum tenetur explicabo! Culpa hic animi porro iste.</p>
                    </div>
                </div>
                <div class="flex-vertical card">
                    <img src="{% get_media_prefix %}images/blog/cargo3.jpeg" alt="">
                    <div>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, placeat cum dicta veritatis tempora eveniet saepe ullam soluta totam consequuntur dolores porro dolorum tenetur explicabo! Culpa hic animi porro iste.</p>
                    </div>
                </div>
            </div>
        </section>
        <!--WORK-US STARTS-->
        <section id="work-us"  class="subscription">
            <div class="container">
                <div class="subscribe-title text-center">
                    <h2>
                        Do you want to work with us?
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reiciendis?
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="subscription-input-group">
                            <form action="#">
                                <input type="email" class="subscription-input-form" placeholder="Enter your message here">
                                
                                
                            </form>
                        </div>
                    </div>	
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="subscription-input-group" style="margin-top: 20px;">
                            <form action="#">
                                <input type="email" class="subscription-input-form" placeholder="Enter your Email here">
                                <button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
                                    Contact
                                </button>
                                
                            </form>
                        </div>
                    </div>	
                </div>
            </div>
        </section>
            <!--WORK-US END-->
        <!--FOOTER STARTS-->
    <div>
        <footer id="footer"  class="footer">
            <div class="container">
                <div class="footer-menu">
                    <div class="row">
                        <div class="col-sm-3">
                                <div class="navbar-header">
                                <a class="navbar-brand" href="index.html">
                                    <span style="color: #f8f9fa;">Logo</span>
                            </div><!--/.navbar-header-->
                        </div>
                        <div class="col-sm-9">
                            <ul class="footer-menu-item">
                                <li class="scroll"><a href="#works">how it works</a></li>
                                
                                <li class="scroll"><a href="#reviews">review</a></li>
                                <li class="scroll"><a href="#blog">About Us</a></li>
                                <li class="scroll"><a href="#contact">contact</a></li>
                                <li class=" scroll"><a href="#career">Career</a></li>
                                <li class=" scroll"><a href="#contact">my account</a></li>
                            </ul><!--/.nav -->
                        </div>
                    </div>
                </div>
                <div class="hm-footer-copyright">
                    <div class="row">
                        <div class="col-sm-5">
                            <p>
                                &copy;copyright. designed and developed by FEGE & Merve</a>
                            </p><!--/p-->
                        </div>
                        <div class="col-sm-7">
                            <div class="footer-social">
                                <span><i class="fa fa-phone"> +1 (222) 333 4444</i></span>
                                <span><i class="fa fa-phone"> +90 (222) 333 4444</i></span>
                                <a href="#"><i class="fa fa-facebook"></i></a>	
                                <a href="#"><i class="fa fa-twitter"></i></a>
                                <a href="#"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>
                    
                </div><!--/.hm-footer-copyright-->
            </div><!--/.container-->
    
            <div id="scroll-Top">
                <div class="return-to-top">
                    <i class="fa fa-angle-up " id="scroll-top" data-toggle="tooltip" data-placement="top" title="" data-original-title="Back to Top" aria-hidden="true"></i>
                </div>
                
            </div><!--/.scroll-Top-->
            
        </footer><!--/.footer-->
        </div>
        <!--FOOTER END-->

    <!--Autocomplete JS-->
    <script src="{% static 'js/google_autocomplete.js' %}"></script>
    <script async defer
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCylRnlEZdmLKjm1NzXZ5nO4RzvyNifhpk&libraries=places&callback=initAutocomplete">
    </script>
    
    {% endblock %}