{% extends "included/layout.html" %}
{% load static %}
    {% block bodyBlock %}
        <!--ANASAYFA-->
        <section id="home">
            <div class="flex center">
                <div class="child_home">
                    <h1>LOJISTIKTE <span style="color:#0EF6CC;">1 NUMARA</span></h1>
                    <br>
                    <p>Lorem, ipsus Eius ex voluptatum odit! Voluptas, a? Quae.</p>
                </div>
            </div>
        
            <!--SEARCHBARLAR-->
            <div id="route-search" class="flex">
                <div id="route-left" class="flex">
                    <div class="flex route-input">
                        <p>Receiving</p>
                        <input type="text" placeholder="Receiving">
                        <i class="fa-solid fa-location-crosshairs"></i>
                    </div>
                    <div class="flex route-input">
                        <p>Destination</p>
                        <input type="text" placeholder="Destination">
                        <i class="fa-solid fa-location-dot"></i>
                    </div>
                </div>
                <button id="route-btn">Search</button>
            </div>
            <div class="flex" id="home-card">
                <div class="flex-vertical card">
                    <i class="fa-regular fa-building"></i>
                    <h3>Festival Tours</h3>
                    <p>150 listings</p>
                </div>
                <div class="flex-vertical card">
                    <i class="fa-solid fa-city"></i>
                    <h3>Multiple Stopovers</h3>
                    <p>214 listings</p>
                </div>
                <div class="flex-vertical card">
                    <i class="fa-solid fa-city"></i>
                    <h3>Building Materials</h3>
                    <p>185 listings</p>
                </div>
                <div class="flex-vertical card">
                    <i class="fa-solid fa-pills"></i>
                    <h3>Pharmaceutical</h3>
                    <p>200 listings</p>
                </div>
                <div class="flex-vertical card">
                    <i class="fa-solid fa-car-side"></i>
                    <h3>Small Transports</h3>
                    <p>120 listings</p>
                </div>
            </div>
            <span style="background-color:rgba(49, 54, 63, 0.57);width: 100%;height: 100%;position: absolute;top:0;z-index: 1;"></span>
        </section>
        <section id="how-works">
            <div class="title">
                <h2>HOW IT WORKS</h2>
                <p>Learn More about how our website works</p>
            </div>
            <div class="flex center" id="how-works-card">
                <div class="flex-vertical card">
                    <div>
                        <i class="fa-solid fa-globe"></i>
                    </div>
                    <h3>Festival Tours</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi modi ducimus voluptas culpa provident enim</p>
                    <button>Read More</button>
                </div>
                <div class="flex-vertical card">
                    <div>
                        <i class="fa-solid fa-truck-fast"></i>
                    </div>
                    <h3>Festival Tours</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi modi ducimus voluptas culpa provident enim</p>
                    <button>Read More</button>
                </div>
                <div class="flex-vertical card">
                    <div>
                        <i class="fa-solid fa-shield-halved"></i>
                    </div>
                    <h3>Festival Tours</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur animi modi ducimus voluptas culpa provident enim</p>
                    <button>Read More</button>
                </div>
            </div>
        </section>
        <section id="about-us">
            <div class="title">
                <h2>ABOUT US</h2>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing.</p>
            </div>
            <div class="flex center">
                <div class="flex-vertical card">
                    <img src="{% get_media_prefix %}images/blog/cargo.png" alt="">
                    <div>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, placeat cum dicta veritatis tempora eveniet saepe ullam soluta totam consequuntur dolores porro dolorum tenetur explicabo! Culpa hic animi porro iste.</p>
                    </div>
                </div>
                <div class="flex-vertical card">
                    <img src="{% get_media_prefix %}images/blog/cargo3.jpeg" alt="">
                    <div>
                        <h3>Lorem ipsum dolor sit amet.</h3>
                        <br>
                        <p>Lorem ipsum dolor sit amet, consectetur de adipisicing elit, sed do eiusmod tempore incididunt ut labore et dolore magna. Lorem ipsum dolor sit amet consectetur adipisicing elit. Quasi, placeat cum dicta veritatis tempora eveniet saepe ullam soluta totam consequuntur dolores porro dolorum tenetur explicabo! Culpa hic animi porro iste.</p>
                    </div>
                </div>
            </div>
        </section>
        <!--WORK-US STARTS-->
        <section id="work-us"  class="subscription">
            <div class="container">
                <div class="subscribe-title text-center">
                    <h2>
                        Do you want to work with us?
                    </h2>
                    <p>
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis, reiciendis?
                    </p>
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="subscription-input-group">
                            <form action="#">
                                <input type="email" class="subscription-input-form" placeholder="Enter your message here">
                                
                                
                            </form>
                        </div>
                    </div>	
                </div>
                <div class="row">
                    <div class="col-sm-12">
                        <div class="subscription-input-group" style="margin-top: 20px;">
                            <form action="#">
                                <input type="email" class="subscription-input-form" placeholder="Enter your Email here">
                                <button class="appsLand-btn subscribe-btn" onclick="window.location.href='#'">
                                    Contact
                                </button>
                                
                            </form>
                        </div>
                    </div>	
                </div>
            </div>
        </section>
            <!--WORK-US END-->
    {% endblock %}